<div class="row">

<div class="col-sm-12 mb-3 mb-sm-0">
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">{{blogPost.title}}</h5>
        <p class="card-text">{{blogPost.contents}}</p>
        <p> class="card-text">{{blogPost.}}</p>
        
      </div>
    </div>
  </div>

</div>


    <div class="card mt-4 col-sm-12 mb-3 mb-sm-0">
      <div class="card-body">
        <h5> Add a comment!</h5>
        <form method="post" action="/blogposts/{{blogPost.id}}">
          <textarea class="form-control " name="comment" rows="3"></textarea>

          <button type="submit" class="btn btn-primary mt-4 mb-3">Submit</button> 
        </form>
        
      </div>
    </div>
  </div>

</div>