
<div class="container">
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
</div>
</div>
       
    <footer class="page-footer bg-dark">
      <div class="container">
        <div class="row">
    <div class="col-6">
    </div>
          <div class="col-6 contact">
            <h5>Contact Us</h5>
            <ul id="contact_links">
              <li><a class="fa fa-envelope" style="font-size:16px;" href="https://www.gmail.com/" target="_blank">    Email</a></li>
              <li><a class="fa fa-facebook" style="font-size:16px;" href="https://www.facebook.com/" target="_blank">    Facebook</a></li>
              <li><a class="fa fa-instagram" style="font-size:16px;" href="https://www.instagram.com/" target="_blank">    Instagram</a></li> 
            </ul>
          </div>
      </div>
    </footer>
